mat-dialog-content {
    display: flex;
    flex-direction: column;
    gap: 16px;

    p {
        margin: 0;
    }
}

mat-dialog-actions {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
}