<!-- <mat-toolbar color="primary">
    <div class="header-left">
        <img src="/assets/images/logo.png" alt="LendEase logo" class="logo" />
        <span>LendEase</span>
    </div>
    <div class="header-middle">
        <span>{{ role || 'Guest' }}</span>
    </div>
    <div class="header-right">
        <a mat-button routerLink="/admin/dashboard">Dashboard</a>
        <a mat-button routerLink="/admin/users">Users</a>
        <a mat-button routerLink="/admin/schemes">Loan Schemes</a>
        <button mat-icon-button [matMenuTriggerFor]="profileMenu">
            <mat-icon>account_circle</mat-icon>
        </button>
        <mat-menu #profileMenu="matMenu">
            <button mat-menu-item (click)="navigateToProfile()">Profile</button>
            <button mat-menu-item (click)="logout()">Logout</button>
        </mat-menu>
    </div>
</mat-toolbar> -->



<mat-toolbar color="primary">
    <div class="header-left">
        <img src="/assets/logo.png" alt="LendEase Logo" class="logo" />
        <span>LendEase</span>
    </div>
    <div class="header-middle">
        <span *ngIf="isLoggedIn()">{{ role || 'Guest' }}</span>
    </div>
    <div class="header-right">
        <a mat-button routerLink="/">Home</a>
        <a mat-button routerLink="/login" *ngIf="!isLoggedIn()">Login</a>
        <a mat-button routerLink="/admin/dashboard" *ngIf="isAdmin()">Dashboard</a>
        <a mat-button routerLink="/admin/users" *ngIf="isAdmin()">Users</a>
        <a mat-button routerLink="/admin/schemes" *ngIf="isAdmin()">Loan Schemes</a>
        <button mat-icon-button [matMenuTriggerFor]="profileMenu" *ngIf="isLoggedIn()">
            <mat-icon>account_circle</mat-icon>
        </button>
        <mat-menu #profileMenu="matMenu">
            <button mat-menu-item (click)="navigateToProfile()">Profile</button>
            <button mat-menu-item (click)="logout()">Logout</button>
        </mat-menu>
    </div>
</mat-toolbar>