// mat-toolbar {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;

//     .header-left {
//         display: flex;
//         align-items: center;
//         gap: 8px;

//         .logo {
//             width: 40px;
//             height: 40px;
//         }
//     }

//     .header-middle {
//         flex-grow: 1;
//         text-align: center;
//     }

//     .header-right {
//         display: flex;
//         align-items: center;
//         gap: 8px;
//     }
// }


mat-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header-left {
        display: flex;
        align-items: center;
        gap: 8px;

        // .logo {
        //     width: 40px;
        //     height: 40px;
        // }

        .logo {
            width: 10vw; // 10% of viewport width
            max-width: 80px;
            min-width: 40px;
            height: auto;
          }
          
    }

    .header-middle {
        flex-grow: 1;
        text-align: center;
    }

    .header-right {
        display: flex;
        align-items: center;
        gap: 12px;
        /* Increased for better spacing */
    }
}