// .dashboard-container {
//     margin-top: 20px;
//     padding: 20px;
//     background-color: #f5f5f5;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     min-height: 100vh;

//     h2 {
//         margin-bottom: 24px;
//         font-size: 28px;
//         color: #333;
//         text-align: center;
//     }

//     .dashboard-card {
//         width: 100%;
//         max-width: 800px;
//         background-color: #fff;
//         border-radius: 8px;
//         box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
//         margin: 0 auto;

//         mat-card-header {
//             background-color: #1976d2;
//             color: #fff;
//             padding: 16px;
//             border-radius: 8px 8px 0 0;
//             display: flex;
//             justify-content: center;
//         }

//         mat-card-content {
//             padding: 24px;

//             mat-table {
//                 width: 100%;
//             }
//         }
//     }

//     .error-message {
//         color: #d32f2f;
//         margin-bottom: 16px;
//         text-align: center;
//         font-size: 16px;
//     }
// }


.dashboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    gap: 16px;
    padding: 20px;
    background-color: #f5f5f5;

    h2 {
        margin-bottom: 24px;
        font-size: 28px;
        color: #333;
        text-align: center;
    }

    .cards {
        display: flex;
        justify-content: center;
        gap: 20px;
        flex-wrap: wrap;
    }

    .error-message {
        color: #d32f2f;
        margin-bottom: 16px;
        text-align: center;
        font-size: 16px;
    }

    .table-card {
        width: 100%;
        max-width: 800px;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        margin: 20px auto;

        mat-card-header {
            background-color: #1976d2;
            color: #fff;
            padding: 16px;
            border-radius: 8px 8px 0 0;
            display: flex;
            justify-content: center;
        }

        mat-card-content {
            padding: 24px;

            mat-table {
                width: 100%;
            }
        }
    }

    app-dashboard-card {
        ::ng-deep mat-card-actions {
            .mat-raised-button:first-child {
                display: none;
                /* Hide Add button */
            }
        }
    }
}