<!-- <mat-toolbar color="primary">
    <div class="footer-left">
        <span>© 2025 LendEase All rights reserved.</span>
    </div>
    <div class="footer-right">
        <a mat-button routerLink="/">Home</a>
        <a mat-button routerLink="/login">Login</a>
        <a mat-button disabled>About</a>
        <a mat-button href="mailto:support@lendease.com">Contact</a>
    </div>
</mat-toolbar> -->

<mat-toolbar color="primary">
    <div class="footer-left">
        <span>© 2025 LendEase All rights reserved.</span>
    </div>
    <div class="footer-right">
        <a mat-button routerLink="/">Home</a>
        <a mat-button routerLink="/login">Login</a>
        <a mat-button routerLink="/register">Register</a>
        <a mat-button disabled>About</a>
        <a mat-button href="mailto:support@lendease.com">Contact</a>
    </div>
</mat-toolbar>