<!-- <div class="dashboard-container">
    <h2>Admin Dashboard</h2>
    <div class="cards">
        <dashboard-card title="Loan Officers" [count]="loanOfficerCount" (add)="openLoanOfficerForm()"
            (view)="viewLoanOfficers()"></dashboard-card>
        <dashboard-card title="Loan Schemes" [count]="loanSchemeCount" (add)="openLoanSchemeForm()"
            (view)="viewLoanSchemes()"></dashboard-card>
    </div>
</div> -->

<div class="dashboard-container">
    <app-dashboard-card title="Loan Officers" [count]="loanOfficerCount" (add)="openLoanOfficerForm()"
        (view)="viewLoanOfficers()"></app-dashboard-card>
    <app-dashboard-card title="Loan Schemes" [count]="loanSchemeCount" (add)="openLoanSchemeForm()"
        (view)="viewLoanSchemes()"></app-dashboard-card>
    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
</div>