.dashboard-container {
  display: flex;
  justify-content: center;
  gap: 16px;
  padding: 16px;
}

.error-message {
  color: red;
  margin-top: 16px;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}