mat-dialog-content {
    display: flex;
    flex-direction: column;
    gap: 16px;

    p {
        margin: 0;
    }

    a {
        color: #1976d2;
        text-decoration: none;
    }

    mat-form-field {
        width: 100%;
    }
}

mat-dialog-actions {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
}